<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
</head>
<body>
    <%- include("partials/header.ejs") %>
    <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis container-color">
      <div class="col-lg-12 px-4 text-center">
          <h1 class="display-4 fst-italic">Edit Post</h1>
          <form action="/edit/<%= post.id %>" method="post">
              <input name="title" type="text" class="feedback-input" placeholder="Enter your blog title." value="<%= post.title %>" required/>
              <textarea name="content" class="feedback-input" placeholder="Write your content of your blog here." required><%= post.content %></textarea>
              <input type="submit" class="submit-input" value="Submit Blog" style="text-align: center">
          </form>
      </div>
  </div>

    <%- include("partials/footer.ejs") %>
</body>
</html>